@{
  Layout = "_Layout";
}

@using PierresVendors.Models;

<h3>Here are all the Orders from this Vendor:</h3>

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Date'>@order.Title</a></li>
  }
</ol>

<p><a href='/vendors/@Model["vendor"].Id/items/new'>Add another Order?</a></p>
<p><a href="/vendors"> Back to Vendor directory</a></p>
<p><a href="/"> Back to Home Page</a></p>