@{
  Layout = "_Layout";
}

<h1>Add a Vendor</h1>

<p>Add New Vendor to this form:</p>

@* returns to vendor controller  *@
<form action="/vendors" method="post">
<label for="vendorName">Vendor name:</label>
<input id="vendorName" name="vendorName" type="text">

<label for="vendorDesc">Vendor Description:</label>
<input id="vendorDesc" name="vendorDesc" type="text">
<button type="submit">Add Vendor</button>
</form>

<p><a href="/">Back to Home Page</a></p>
<p><a href="/vendors">Back to Vendor Directory</a></p>